<!-- The content below is only a placeholder and can be replaced. -->

<mat-toolbar color="primary" id="toolbar">
  <a mat-button id="toolbar-title" routerLink=".">Feaded</a>
  <span id="toolbar-remaining-space"></span>
  <a *ngIf="!isCurrentSessionValid()" mat-icon-button routerLink="/login"
    ><mat-icon class="material-icons-outlined">account_circle</mat-icon></a
  >
  <div *ngIf="isCurrentSessionValid()">
    <a mat-icon-button>
      <mat-icon [matMenuTriggerFor]="user">account_circle</mat-icon>
    </a>
    <mat-menu #user="matMenu">
      <button mat-menu-item>
        <mat-icon>face</mat-icon>
        <span>{{ getCurrentSessionUsername() }}</span>
      </button>
      <button mat-menu-item (click)="disconnectCurrentSession()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Disconnect</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>
