<div class="view">
  <div class="form-box">
    <div class="form-wrapper">
      <div class="form-header">
        <h1 class="form-h1">Connection</h1>
        <div class="form-subtext">Connect with your Feaded account</div>
      </div>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-core">
          <mat-form-field class="full-width-field">
            <input
              matInput
              formControlName="username"
              placeholder="Username"
              class="full-width-input"
            />
            <mat-error>{{ getUsernameErrorMessage() }}</mat-error>
          </mat-form-field>
          <mat-form-field class="full-width-field">
            <input
              matInput
              formControlName="password"
              placeholder="Password"
              class="full-width-input"
              type="password"
            />
            <mat-error>{{ getPasswordErrorMessage() }}</mat-error>
          </mat-form-field>
          <div class="form-footer">
            <div class="form-action register-link">
              <a
                mat-button
                class="special-padding-mat-button"
                color="primary"
                routerLink="/register"
                >Create an account</a
              >
            </div>
            <span class="actions-remaining-space"></span>
            <button
              type="submit"
              [disabled]="!loginForm.valid"
              id="form-action form-submit"
              mat-flat-button
              color="primary"
            >
              Connect
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
